<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      th,
      td {
        border: 1px solid black;
        border-radius: 10px;
      }
      div.c {
        position: absolute;
        right: 150px;
        width: 200px;
        height: 300x;
        border: 3px solid green;
      }
    </style>
  </head>

  <body bgcolor="white">
    <div align="center"><img src="logo.jpeg" width="200" height="200" /></div>

    <form>
      <table
        border="4"
        width="400"
        height=400"
        cellspacing="20"
        align="center"
        bgcolor="#ffe6ff"
      >
        <tr align="center" bgcolor="	#bfbfbf">
          <th style="color: #ffffff; font-size: 40px; font-weight: bold">
            MENU
          </th>
        </tr>
        <tr align="center" bgcolor="	#bfbfbf">
          <td style="color: #ffffff; font-size: 25px; font-weight: bold">
            <a href="bevaregePage.html">Baverage</a>
          </td>
        </tr>
        <tr align="center" bgcolor="	#bfbfbf">
          <td style="color: #ffffff; font-size: 25px; font-weight: bold">
            <a href="foodPgae.html">Food</a>
          </td>
        </tr>
        <tr align="center" bgcolor="	#bfbfbf">
          <td style="color: #ffffff; font-size: 25px; font-weight: bold">
            <a href="shsha.html">Shisha</a>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
